@media (min-width: 1200px) {
    .container{
        max-width: 820px;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
}

.paragraph{
    margin-bottom: 0.5em;
}

.small-note{
    font-size: small;
    font-style: italic;
    margin-top: 1em;
}