---
layout: default
title: "Weekend Reading Protocol"
---

I like to read Systems/Networks papers on weekends and write a 15-minute summary. It allows me to learn from people's amazing work, and improve my reading and writing skills. <br>

<div class="paragraph">
This <a href="https://groups.google.com/g/werp-sysnet">Google Group</a> gets post updates and hosts discussions.
</div>

<div class="small-note">
    Note: The papers are publicly accessible, and the summary is published with authors' consent. <a href="mailto:werp-sysnet+managers@googlegroups.com">Contact</a>
</div>

{% for post in site.posts %}
    {% include section-spacing.html %}
    <div class="ml-3">
        <div style="font-weight: 600;">{{ post.date | date: "%d %b' %Y" }}</div>
        <a class="title" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a><br>
        <i style="font-weight:200;">{{ post.authors }}</i><br>
        {{ post.conference }}
    </div>
{% endfor %}