<div class="d-flex flex-wrap-reverse justify-content-between" style="font-family: 'Open Sans', 'Segoe UI';">
    <div class="col ml-3 align-self-center">
        <strong style="font-size: x-large;">Rahul Bothra</strong><br>
        <span style="font-weight: lighter;">
            Ph.D. student<br>
            University of Illinois, Urbana-Champaign<br>
        </span>
        <!-- <a href="mailto:bothra2@illinois.edu">bothra2@illinois.edu</a> -->
    </div>
    <div class="col-md-auto pb-3" style="text-align: center;">
        <img src="assets/profile.jpg" style="max-width: 200px; border-width: 5px; border-style: solid; border-color: #1b2836;" class="rounded-circle">
    </div>
</div>

{% include section-spacing.html %}